{% extends "doctorApp/base.html" %}

{% block title %}
Doctor  Home
{% endblock title %}

{% block navbar %}

<section id="navbar">

    {%include 'doctorApp/navbar.html'%}
 
  </section>


{% endblock navbar %}


{% block content %}
    
 <!-- main div for center align -->
 <div class="d-flex justify-content-center">

  <div class="container-fluid  col-xl-6  col-12 m-5" style="background-color: white; ">
  

    <div class="row">
      <div class="p-0 " style="text-align: center;">
        
        
          
        <img src="{{ user.profilepic.url }}" style="object-fit: cover;
        width: 5rem;
        height: 5rem;" class="rounded-circle m-2" >
        <h4 class="heading_font" style="color: rgb(0, 0, 0) !important;">Welcome Back ! <b>Dr.{{user.first_name}} </b> </h4>
</div>
          <div class="bg-dark" >          
            <h4 class="bottom_font m-3" style="color: rgb(255, 255, 255) !important;">Name : <b>{{user.first_name}} </b> </h4>
            <h4 class="bottom_font m-3" style="color: rgb(255, 255, 255)  !important;">Username : <b>{{user.username}} </b> </h4>
            <h4 class="bottom_font m-3" style="color: rgb(255, 255, 255)  !important;">Email Adress : <b>{{user.email}} </b> </h4>
            <h4 class="bottom_font m-3" style="color: rgb(255, 255, 255)  !important;">Phone Number : <b>{{user.phone_number}} </b> </h4>
          </div>
        
    </div>
       
{% endblock content %}







