.inputfieldForm{

    border: 0px;
    outline: 0  ;
    border-bottom: 2px solid #6464645e !important;
    box-shadow: none !important;

}

.heading_font{

    font-variant-caps: all-petite-caps;
    font-family: poppins;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
    
.buttonBgBlack{
    background-color: rgb(0, 0, 0);
}

.bottom_font{
    font-family: 'Roboto';
    font-size: large;
    color: black;
    font-weight: 400;
}
.colorser{
    color: rgb(216, 235, 10);
}