.inputfieldForm{

    border: 0px;
    outline: 0  ;
    border-bottom: 2px solid #6464645e !important;
    box-shadow: none !important;

}

.heading_font{

    font-variant-caps: all-petite-caps;
    font-family: poppins;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
    
.buttonBgBlack{
    background-color: rgb(0, 0, 0);
}

.bottom_font{
    font-family: 'Roboto';
    font-size: large;
    color: black;
    font-weight: 400;
}



/* Table properties  */

table{
    width: 100%; /* For Responsive design set 100% */
    border-collapse: collapse;
    margin: 30px 0px 30px;
    background-color: #fff;
    font-size: 14px;
    }
table tr {
    height: 40px;
    }
table th {
    background: #333;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
   }
table td, th {
    padding: 6px 6px 6px 10px;
    border: 1px solid #ccc;
    text-align:center;
   }
    
   /* CSS3 Zebra Striping */
table tr:nth-of-type(odd) {
    background: #eee;
   }     
   /* Automatic Serial Number Row */
.css-serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
   }
.css-serial td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
   }

.divborder{
    border: solid;
    padding: 1rem;
}