{% extends "base.html" %}

{% block title %}
Reset Password
{% endblock title %}

{% block navbar %}

<section id="prenavbar">

    {%include 'homeApp/navbar.html'%}
 
  </section>


{% endblock navbar %}
{% block content %}



    <!-- main div for center align -->
    <div class="d-flex justify-content-center">

      

    <div class="container p-5 col-xl-3 col-sm-12 m-5" style="background-color: white; ">
            
            
       
        <form id="formSetnewpassword" method="POST" action="{% url 'passwordresetconfirm' user.id token  %}">
            <div class="row text-center mb-3">
                    <h3 class="heading_font mb-3">Set New Password ! </h3>
            </div>

            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text inputfieldForm" id=" inputPassword" style="background: none; border:none;"><i class="bi bi-shield-lock-fill fs-4"></i></span>
                    <input id="id_input_Password1" name="inputPassword" type="password" class="form-control inputfieldForm" placeholder="Password"  required >
                    <button style="border:none;" class="btn bi bi-eye-slash-fill" type="button" id="id_input_Password1_passButton" onclick="togglebutton('id_input_Password1')"></button>
                </div>
            </div> 

            <div class="row">
                <div class="input-group mb-3">
                    <span class="input-group-text inputfieldForm" id=" inputPassword" style="background: none; border:none;"><i class="bi bi-shield-fill-check fs-4"></i></span>
                    <input onkeyup="checkpassword();" id="id_input_Password2" name="inputPassword" type="password" class="form-control inputfieldForm" placeholder="Confirm Password"  required >
                    <button style="border:none;" class="btn bi bi-eye-slash-fill" type="button" id="id_input_Password2_passButton" onclick="togglebutton('id_input_Password2')"></button>
                </div>

                <h6 class="ps-3"style="font-weight: 400; color:red;" id="Input_Password_Error">
                  
                </h6> 
            </div> 
                    
        {% csrf_token %}  

        <div class="d-flex justify-content-center mt-2">
            
            <div class="row ">
                <button type="submit" id="Id_resetpsButton" class="btn p-3" style="background-color:#000000 ; color:white; font-variant: all-petite-caps;
                font-size: medium;" > Reset Your Password  </button>
            </div>
           
          </div>


        </form>

                {% if messages %}
                {% for message in messages %}
                <br>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{message |safe}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}

   
        
        
        </div>

        
      

    </div>
   










{% endblock content %}