{% extends "patientApp/base.html" %}
{% load static %}

{% block title %}

Booking Details
{% endblock title %}

{% block scripts %}

 <script> bookinglist = JSON.parse('{{bookinglist | safe}}')</script> 
 <script src="{% static 'patientApp/js/patientMyBooking.js' %}"></script> 

<style>

</style>


{% endblock scripts %}
{% block navbar %}

<section id="navbar">

    {%include 'patientApp/navbar.html'%}
 
  </section>


{% endblock navbar %}
{% block content %}

  <!-- main div for center align -->
  <div class="d-flex justify-content-center">

        <div class="container-fluid  col-xl-10  col-12 m-5" style="background-color: white; ">
            
            <div class="row bg-dark p-3 text-center ">
                    <i class="bi bi-calendar-week-fill fs-1 " style="color: White !important;"></i>
                <h4 class="heading_font " style="color: White !important;">Your Booking Details </h4>

            </div>

            <div class="row text-center  ">

                <h3 class="bottomFont mt-2">All your booking details are shown here </h3>

            </div>

            <!-- Upcoming Bookings -->
            <div class="container">

                 <div class="row border-bottom  ">
                    <h3 class="heading_font mt-2">Upcoming Bookings</h3>
                </div>
                    <div  id="upcomingBookingTable" class=" col-12 row  ">
                    

                    </div>

                 <!-- Completed Bookings -->   
                 <div class="row border-bottom  ">
                    <h3 class="heading_font mt-2">Completed Bookings</h3>
                </div>
                    <div  id="completedBookingTable" class=" col-12 row border-bottom ">
                    

                    </div>

                  <!-- Rejected Bookings -->   
                  <div class="row border-bottom  ">
                    <h3 class="heading_font mt-2">Rejected Bookings</h3>
                </div>
                    <div  id="rejectedBookingTable" class=" col-12 row border-bottom ">
                    

                    </div>
            
            
            
            </div>
           
       

                

        </div>
    </div>






       

  




{% endblock content %}






<tr>
    <td>&nbsp;</td>
    <td>{{m.doctorName}}</td>
    <td>{{m.doctorSlot}}</td>
    <td>{{m.doctorDep}}</td>
    <td>{{m.hospital}}</td>
    <td>{{m.appointmentDate}}</td>
    <td>{{m.state}}</td>
<td>
{% if m.documents %}

<a href="/media/{{m.documents}}"> Prescription</a>
 </td>
    
{% endif  %}

<h6>No document Uploaded</h6>

</tr>