{% extends "homeApp/base.html" %}
{% block scripts %}
<script>
 
</script>
{% endblock scripts %}

{% block navbar %}
<section id="navbar">

    {%include 'homeApp/navbar.html'%}
 
</section>

{% endblock navbar %}



{% block content %}
  

<section id="contact">


    <div class="container m-5">
        <div class="row col-12">
    
            <div class="col-xl-6 col-12">
                
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125745.78501637235!2d76.23825249955934!3d9.970867299429283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d08f976f3a9%3A0xe9cdb444f06ed454!2sErnakulam%2C%20Kerala!5e0!3m2!1sen!2sin!4v1666593391591!5m2!1sen!2sin" 
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
            </div>
    
            <div class="col-xl-6 col-12">
                <h3>Contact Us</h3>
                <p><i class="bi bi-telephone-fill  m-1 fs-5"></i> <a href="tel:8330099043">  +91 8330099043  </a></p>
                <p><i class="bi bi-browser-safari m-1 fs-5"></i> Adress , mailbox 52, kerala pin : 689696 </p>
                <p><i class="bi bi-envelope-fill m-1 fs-5"></i><a href="mailto:ehealthportal@shamshadlive.com"> ehealthportal@shamshadlive.com </a></p>
            </div>
    
        </div>
    </div>
    


</section>












     
{% endblock content %}






