this is base home <br>









<a href="{% url 'homePatient' %}" style="text-decoration: none;"> link to patient-home </a> <br>

<a href="{% url 'loginPatient' %}" > loginPatient </a> <br>
<a href="{% url 'registerPatient' %}" > registerPatient </a> <br>

<br><br><br><br><br>
<a href="{% url 'homeDoctor' %}" style="text-decoration: none;"> link to doctor-home  </a> <br>
<a href="{% url 'homeHospital' %}" style="text-decoration: none;"> link to hospital home </a> <br>


<h3> user system common</h3>  <br>
<a href="{% url 'UserLogin' %}" style="text-decoration: none;"> login main  </a> <br>
<a href="{% url 'register' %}" style="text-decoration: none;"> Register main   </a> <br>




